@import "./reset.css";
@import "./small.css";
@import "./large.css";

@font-face {
  font-family: Cocogoose;
  src: url('../fonts/COCOGOOSE.ttf.woff');
}

@font-face {
  font-family: Lato;
  src: url('../fonts/Lato-Regular.ttf');
}

body {
  font-family: Lato;
}

a {
  text-decoration: none;
}
